/* Tipos */
a {
  font-family: 'Didact Gothic', sans-serif;
  text-decoration: none;
  outline: 0;
  background-color: transparent;
}


/* Clases */

.descripcion-sitio {
  margin: -5px 0 0 0;
  /* text-align: center; */
  color: #848484;
  font-style: italic;
  font-size: .9em;
}