/* Define la estructura de los elementos principales del sitio, y en detalle la distribución de los elementros del header y el footer */
@import "general.css";

/* Tipos */
body {
    display: flex;
    flex-flow: row wrap;
}

body > * {
    flex: 1 100%;
}

header {
    display: flex;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

footer {
    display: flex;
    flex-flow: row wrap;
    margin-top: auto;
    justify-content: center;
}

/* Clases */
.branding-sitio {
    display: flex;
}

.bottom-logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
}

.info-sitio {
    flex: 6;
}

.info-sitio li {
    list-style-type: none;
    margin: 0;
}

.helper-links {
    flex: 1 100%;
    margin: 2em 5em;
    text-align: left;
}

.redes {
    flex: 1 100%;
    display: flex;
    justify-content: center;
}

.redsoc{
    margin-left: 1em;
    margin-right: 1em;
}

.copyrhight {
    flex: 1 100%;
    text-align: center;
}

/* IDs */
#nav-index {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
}

#menu-principal {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#menu-principal a {
    color: var(--col-sec-md);
    text-transform: uppercase;
    padding: .5em 1em;
    font-family: 'Didact Gothic', sans-serif;
    outline: 0;
    background: linear-gradient(var(--col-pri) 50%, var(--col-ace) 50%) no-repeat top / 100% 200%;
    transition: .5s ease;
}

#menu-principal a.actual {
    background: var(--col-ter-md);
    color: var(--col-pri);
}

#menu-principal a:hover {
    background-position: bottom;
    color: var(--col-pri);
}

#menu-principal a:active {
    color: var(--col-ter-md);
}

#menu-principal .hamburguesa {
    display: none;
}

/*Puntos de corte*/
@media screen and (max-width: 600px) {
    #nav-index a {
        display: none;
    }

    #nav-index a.hamburguesa {
        float: right;
        display: block;
    }
    
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
}

@media screen and (max-width: 600px) {
    #nav-index.responsive {
        position: relative;
    }

    #nav-index.responsive a.hamburguesa {
        position: absolute;
        right: 0;
        top: 0;
    }

    #nav-index.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
}