@import "general.css";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

.header {
    position: relative;
}


.header .branding-sitio {
    float: left;
}

.header #login-register {
    position: absolute;
    right: 1%;
    border-radius: .2em;
    background: var(--col-ter-md);
    color: var(--col-pri);
    text-transform: uppercase;
    padding: .5em;
    top: 50%;
    transform: translate(0, -50%);
}

.footer {
    margin-top: auto;
}

#nav-index {
    position: -webkit-sticky;
    position: sticky;
    align-self: flex-start;
    top: 0;
    left: 50%;
    background-color: #fff;
}

#nav-index a {
    float: left;
    position: relative;
    right: 50%;
    color: var(--col-sec-md);
    display: block;
    text-transform: uppercase;
    padding: .5em 1em;
    transition: color 0.25s ease-out;
    font-family: 'Didact Gothic', sans-serif;
    text-decoration: none;
    outline: 0;
}

#nav-index a.actual {
    background: var(--col-ter-md);
    color: var(--col-pri);
    /*border-bottom: .3em solid #e1e1e1;*/
}

#nav-index a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; /* 100% of <p>, not <span> */
    height: 100%; /* 100% of <p>, not <span> */
    background: var(--col-ace);
    z-index: -1;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.25s ease-out;
}

#nav-index a:hover {
    color: var(--col-pri);
    /*border-bottom: .3em solid #848484;*/
}
#nav-index a:hover::after {
    transform: scaleY(1);
    transform-origin: bottom;
}

#nav-index a:active {
    color: var(--col-ter-md);
    /*border-bottom: .3em solid #e1e1e1;*/
}

#nav-index .hamburguesa {
    display: none;
}

@media screen and (max-width: 600px) {
    #nav-index a {
        display: none;
    }

    #nav-index a.hamburguesa {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    #nav-index.responsive {
        position: relative;
    }

    #nav-index.responsive a.hamburguesa {
        position: absolute;
        right: 0;
        top: 0;
    }

    #nav-index.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
}

ul li {
    margin:20px;

}

.site-footer li {
    list-style-type: none;
    margin: 0;
}

.redsoc{
    margin-left: 2em;
}

.maps{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
